@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
       
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;        
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #2B2B28;
    color: #fff;
    padding: 15px;
    align-items: center;
    height: 50px;  
    width: auto;
}

header a{
    text-decoration: none;
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 70%;
    margin-left: 40px;
}

nav{
    margin-right: 40px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2B2B28;
    border-radius: 8px;
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul li:hover {
    background-color: #E5C78A;
}

nav ul li:hover > ul{
    display: inherit;
}


#history{
    height: 50vh;
    background-image: url("maps-header.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

.history-bg{
    background-color: #F6EEE1;
}
.container {
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    
}
main {
    padding-top: 0;
    padding: 2em;
}
#about{
    text-align: justify;
}
#about p {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#about #first {
    background-color:rgba(241, 214, 171, 0.63);
}

#about #second {
    background-color: rgba(227, 176, 75, 0.48); ;
}

#about #third {
    background-color: rgba(227, 176, 75, 0.72); 
}

#recent-posts {
    border-radius: 10px;
    width: 60%;
    padding: 2em;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}
#recent-posts h4{
    text-decoration: underline;
    margin-top: 0;
}
#recent-posts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#recent-posts img {
    width: 100px; 
    height: auto; /* Maintain the aspect ratio of the images */
    margin-right: 10px; /* Add some margin to separate the image from the text */
    margin-bottom: 2px;
    border-radius: 10px;

}
#recent-posts li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#recent-posts a {
    color: #333; 
    text-decoration: none;
}

#recent-posts a:hover {
    text-decoration: underline;
}
footer {
    background-color: #2b2b28;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

footer #logo img{
    width: 30px;
    margin-right: 10px;
}
footer #logo a strong{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}
.mahallah-info p,
.contact-info p {
    margin: 0;
    font-size: 14px;
}
.contact-info {
    display: flex;
    align-items: center;
}
.contact-info p {
    margin-left: 0;
}
.footer-logo img{
    width: 14px;
    margin-right: 5px;
}