        
         @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
       
         *{
             margin: 0;
             padding: 0;
             box-sizing: border-box;
             list-style: none;
             text-decoration: none;
             scroll-behavior: smooth;
             font-family: 'Poppins', sans-serif;        
         }
 
         /*For the root elements when needed*/
         :root{
             --h1-font : 4rem;
             --h2-font : 2rem;
             --h3-font : 1.5rem;
             --p-font : 1rem;
         }
         
         /*Navi Bar*/
         header {
             position: fixed;
             top: 0;
             right: 0;
             z-index: 1000;
             display: flex;
             justify-content: space-between;
             background-color: #2B2B28;
             padding: 15px 17%;
             align-items: center;
             transition: all .5s ease;
             width: 100%;
         }
 
         header a{
             color: #fff;
         }
 
         .logo{
             font-size: 20px;
             font-weight: 700;
             display: flex;
             gap: 5px;
         }
 
         .navbar{
             display: flex;
         }
 
         .navbar a {
             font-size: var(--p-font);
             font-weight: 500;
             padding: 10px 20px;
             margin: 15px 22px;
             transition: all 0.5s ease;
         }
         .navbar ul li{
             position: relative;
             display: inline-block;
         }
 
         .navbar ul li a{
             display: block;  
         }
 
         ul li ul.dropdown li{
             display: block;
         }
 
         ul li ul.dropdown{
             background-color: #2B2B28;
             position: absolute;
             z-index: 999;
             display: none;
         }
 
         ul li a:hover {
             background-color: #E5C78A;
             transform: translateY(-3px);
         }
 
         ul li:hover ul.dropdown{
             display: block;
         }
 
         .menu-right{
             display: flex;
             align-items: center;
         }
 
         .menu-right a:first-child{
             font-size: var(--p-font);
             margin-right: 20px;
         }
 
         .menu-right a{
             vertical-align: middle;
             font-size: 20px;
             margin-right: 18px;
             margin-left: 5px;
             transition: all 0.5s ease;
             color: #fff;
         }
 
         .menu-right a:hover{
             transform: translateY(-3px);
         }
 
         #menu-icon{
             color: #fff;
             font-size: 30px;
             cursor: pointer;
             z-index: 10001;
             display: none;
         } 

        
        /*Maps and Locations*/

        /*Map Header*/
        #map{
            height: 50vh;
            background-image: url("maps-header.jpg");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;

        }
        #map-location {
            background-color: rgba(227, 176, 75, 0.2);
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
        }

        #map-location h2 {
            padding: 5px;
            margin: 10px;
        }


        /*Footer*/

        footer {
            background-color: #2b2b28;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 150px;
        }

        #logo img{
            width: 30px;
            margin-right: 10px;
        }
        #logo strong{
            color: #fff;
            display: flex;
            align-items: center;
        }

        .mahallah-info p,
        .contact-info p {
            margin: 0;
            font-size: 14px;
        }

        .contact-info {
            display: flex;
            align-items: center;

        }
        .footer-logo img{
            width: 14px;
            margin-right: 5px;
        }
        @media (max-width: 1700px){
            header{
                padding: 18px 8%;
            }
            header.sticky{
                padding: 7px 8%;
            }
        }

