        
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        *{
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
                }

        /*Header*/
        header {
            display: flex;
            justify-content: space-between;
            background-color: #2B2B28;
            color: #fff;
            padding: 15px;
            align-items: center;
            height: 50px;  
        }

        header a{
            text-decoration: none;
            color: #fff;
        }

        .logo{
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 70%;
            margin-left: 40px;
        }

        nav{
            margin-right: 40px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 10px;
            position: relative;
        }

        nav ul {
            list-style: none;
            padding: 0;
            display: flex;
        }

        nav li {
            position: relative;
        }

        nav ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #2B2B28;
            border-radius: 8px;
        }

        nav ul ul li {
            width: 200px;
            float: none;
            display: list-item;
            position: relative;
        }

        nav ul li:hover {
            background-color: #E5C78A;
        }

        nav ul li:hover > ul{
            display: inherit;
        }

        
        /*Maps and Locations*/

        /*Map Header*/
        #map{
            height: 50vh;
            background-image: url("/map-header.jpg");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;

        }
        #map-location {
            background-color: rgba(227, 176, 75, 0.2);
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
        }

        #map-location h2 {
            padding: 5px;
            margin: 10px;
        }


        /*Footer*/

        footer {
            background-color: #2b2b28;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 150px;
        }

        #logo img{
            width: 30px;
            margin-right: 10px;
        }
        #logo strong{
            color: #fff;
            display: flex;
            align-items: center;
        }

        .mahallah-info p,
        .contact-info p {
            margin: 0;
            font-size: 14px;
        }

        .contact-info {
            display: flex;
            align-items: center;

        }
        .footer-logo img{
            width: 14px;
            margin-right: 5px;
        }

