body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e4ded1;
    justify-content: center;
}
header {
    position: relative;
    height: 500px;
    margin: 0;
    margin-left: 0;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:fit-content;
    height: 100%;
    background-color: rgba(227, 176, 75, 0.2);
}

header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("historybackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 1em;
    opacity: 0.6;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    z-index: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
nav {
    background-color: #2b2b28;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 1000;
}
nav #logo{
    display: flex;
    align-items: center;
}
nav #logo img{
    width: 30px;
    height: auto;
    margin-right: 10px;
}
nav #logo a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}
nav ul {
    margin-right: 40px;
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav li {
    margin: 0 1em;
    color: #ffffff;
    position: relative;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    position: relative;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2B2B28;
    border-radius: 8px;
    z-index: 1001;
}
nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul li:hover {
    background-color: #E5C78A;
}
nav ul li:hover > ul{
    display: block;
}
footer {
    background-color: #2b2b28;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

footer #logo img{
    width: 30px;
    margin-right: 10px;
}
footer #logo a strong{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}
.mahallah-info p,
.contact-info p {
    margin: 0;
    font-size: 14px;
}
.contact-info {
    display: flex;
    align-items: center;
}
.contact-info p {
    margin-left: 0;
}
.footer-logo img{
    width: 14px;
    margin-right: 5px;
}
#logoMascot {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 0;
}
#LogoMahallah h3,
#Mascot h3 {
    margin: 0;
}
#LogoMahallah,
#Mascot {
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
#LogoMahallah img, 
#Mascot img {
    width: 250px;
    height: auto;  
}
.ContentAbout {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 150px;
    padding-top: 30px;
    padding-bottom: 0;
}
#content {
    justify-content: center;
    margin-top: 20px;
    text-align: center; 
    box-sizing: border-box;
    width: 100%;
}
#Motto{
    background-color: #e3b04b;
    border-radius: 10px;
}
#Vision{
    background-color: #e5c78a;
    border-radius: 10px;
}
#Mission{
    background-color: #2b2b28;
    color: #fff;
    border-radius: 10px;
}
#Motto,
#Vision,
#Mission {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 5px;
    justify-content: center;
}

#MVM {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}
#MVM > div {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;

}

#Motto,#Vision {
    grid-row: 1;
    justify-content: center;

}

#Mission  {
    grid-row: 2;
    grid-column: span 2;
    justify-content: center;

}